#### Bot lib ####
git+https://github.com/HitsukiNetwork/Hitsuki-PTB.git
telethon
#################
aiohttp>=2.2.5
bleach
emoji
feedparser
future
geopy
googletrans
hurry.filesize
markdown2
nltk
Pillow>=4.2.0
psycopg2-binary
PyLyrics
pynewtonmath
pyowm
python-rapidjson
PyYAML
requests>=2.20.0
spamwatch
spongemock
sqlalchemy
tldextract
wikipedia
zalgo-text
covid
bs4
jikanpy
aiodns==2.0.0
aiohttp==3.7.4.post0
asyncio==3.4.3
cachetools==4.2.1
cchardet==2.1.7
dnspython==2.1.0
gpytranslate==0.3.1
pymongo==3.11.3
pyrogram==1.2.6
python-dateutil==2.8.1
pyyaml==5.4.1
regex==2021.3.17
speedtest-cli==2.1.2
tgcrypto==1.2.2
tswift==0.7.0
ujson==4.0.2
uvloop==0.15.2
wikipedia==1.4.0
